body.dark{
    background-color: #3a3a3a;
    color: #fff;
}

.dark #menu{
    background: rgba(0, 0, 0, 0.35);
}

.dark section{
    background: linear-gradient(0deg, rgba(58,58,58,1) 0%, rgba(0,33,58,1) 16%, rgba(30,34,112,1) 60%, rgba(28,57,154,1) 92%);
}

.dark #projetos{
    background-color: #3a3a3a;
}

.dark #sobreNos{
    background-color: #3a3a3a;
}

.dark #menu a{
    color: #1c399a;
    text-shadow: 0px 0px 15px #00213a9a;
}

.dark #menu a:hover {
  color: #2f8ed6;
  text-shadow: 0 0 20px #56b0f5;
}

.dark #menu li::after {
  background: linear-gradient(90deg, rgba(255,255,255,0) 3%,  #95cffd 68%, #56b0f5 97%);
}